div.slides {

  width: 100% !important;
  height:100% !important;

  font-family: 'Open Sans', sans-serif;
  color:#53585f;

  section {
    height:100%;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding:0;
  }

  // Presentation title slide
  & > section:first-child {
    background: url("../assets/logo-white.png") 95% 95% no-repeat,
                url("../assets/background-section.png") 50% 50% no-repeat,
                linear-gradient(rgba(128, 182, 153, 1), rgba(130, 173, 206, 1)) 0 0 no-repeat;
    background-size: 10%, 60%, 100%;

    &::before {
      content: "";
      background: url("../assets/background-main.png") 0 0 no-repeat;
      background-size: 100%;
      opacity: 0.3;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -2;
    }


    & > h1 {
      color: #FFF;
      padding-top: 20%;
      text-align:left;
      padding-left: 100px;
      font-weight: bolder;
    }

    p {
      text-align : left;
      color: #FFF;
      padding-left: 100px;

      small {
        font-size: 1.0em;
      }
    }

  }

  // Section title slides
  & > section > section:first-child {
    background: url("../assets/logo-white.png") 99% 95% no-repeat,
                url("../assets/background-section.png") 50% 50% no-repeat,
                linear-gradient(rgba(128, 182, 153, 0.7), rgba(130, 173, 206, 0.7)) 0 0 no-repeat;

    background-size: 10%, 60%, 100%;

    & > h2 {
      text-align: center;
      padding-top: 20%;
      color: #FFF;
    }

  }

  // Section slides
  & > section > section {
    height:100%;
    width: 100%;
    top: 0;
    background: url("../assets/logo-grey.png"), url("../assets/background-footer.png");
    background-repeat: no-repeat;
    background-position: 99% 95%, 0 100%;
    background-size:10%, 100%;
    background-color: #FFFFFF;

    h2 {
      text-transform: none !important;
      color: #000000;
      text-align: left;
      margin: 50px 100px 70px 100px;
      color: #5d5d5d;
    }
    
    
    

    h3 {
      text-transform: none;
      font-size: 1.5em;
      
      & + * {
        padding: 0 50px;
      }
    }

   div.split {
    float: left;
    max-height: 50%;
    width:45%;
    padding: 20px;

   }

  }





  .split7030 {

	div.imageblock {
	  float: right;
	  width: 30%;
	}

	div.paragraphe, div.ulist {
	float: left;
	width: 60%;
	}

      }

      .split5050 {

	div.imageblock {
	  float: right;
	  width: 40%;
	  margin-right:5%;
	}

	div.paragraph, div.ulist {
	float: left;
	width: 40%;
	margin-right:5%;
	}

      }

}
